﻿@model AVPPortal.Models.LoginViewModel

@{
    ViewBag.Title = "Home Page";
}

<div class="content-spacer"></div>
<div class="login">
    <div class="main">
        <div class="sign-in">Sign In</div>
        @using (Html.BeginForm("Index", "Home", FormMethod.Post, new { id = "frmLogin", role = "form" }))
        {
            @Html.AntiForgeryToken()
            @Html.HiddenFor(m => m.Attempts);
            <div>
                <label for="txtVendorId">
                    Vendor Identification <i class="question"></i>
                    <div class="question-text" style="left:143px"><i class="carat"></i>Refer to the letter from Extra Space<br />Storage about Express Pay.</div>
                </label>
                @Html.TextBoxFor(m => m.VendorId, new { id = "txtVendorId", @class = "border-box", style = "width:384px;", autocomplete = "off" })
                @Html.ValidationMessageFor(m => m.VendorId)
            </div>
            <div>
                <label for="txtPassword">Last 4 Digits of Tax Identification Number or Social Security Number</label>
                @Html.PasswordFor(m => m.Password, new { id = "txtPassword", @class = "border-box", maxlength = "4", style = "width:384px;", autocomplete = "off" })
                @Html.ValidationMessageFor(m => m.Password)
            </div>
            <button type="submit" class="btn-action">LOG IN</button>
        }
        <div class="questions">
            <strong>Questions?</strong> Email <a href="mailto:expresspay@extraspace.com">expresspay@extraspace.com</a> or call <strong>855-229-8577</strong>.
        </div>
    </div>
</div>

@section FooterScripts {
    <script type="text/javascript">
        $(function () {
            $('#txtVendorId').focus();
            $('#frmLogin').validate();

            @if (Model.Attempts >= 2 && Model.Attempts < 4)
            {
                @:popBox(541, 300, '15px', '<strong>The information you entered is <span style="color:#FF0000;">not correct</span></strong>. If you don\'t know your Vendor ID or if you are having<br />trouble logging in, please contact us at <strong>855.229.8577</strong> or email <a href="mailto:expresspay@extraspace.com">expresspay@extraspace.com</a> (email<br />response within 1 business day). Thank you.');
            }
            @if (Model.Attempts == 4)
            {
                @:popBox(503, 300, '15px', '<span style="color:#FF0000; font-weight:bold;">YOU HAVE EXCEEDED THE NUMBER OF ALLOWABLE LOGIN ATTEMPTS.</span><br />Your account has been locked for 30 minutes. If you don\'t know your ID or if you are having<br />trouble logging in, please contact us at <strong>855.229.8577</strong> or email <a href="mailto:expresspay@extraspace.com">expresspay@extraspace.com</a><br />(email response within 1 business day). Thank you.');
            }
        });
    </script>
}