﻿@model AVPPortal.Models.SignupViewModel

@{
    ViewBag.Title = "Signup";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div style="float:right;"><a class="logout" href="@Url.Action("Logout", "Home")">Log out</a></div>
<img class="express_pay_logo" src="~/Content/Images/express-pay.jpg" />
<div class="main">
    @using (Html.BeginForm("Signup", "Home", FormMethod.Post, new { id = "frmSignup", role = "form" }))
    {
        @Html.AntiForgeryToken()
        if (!String.IsNullOrWhiteSpace(ViewBag.ErrorMessage))
        {
            <p style="color:#ff0000;">@ViewBag.ErrorMessage</p>
        }
        <p>Welcome to the fastest way to be paid, where you pick the terms and receive your payment in as few as 20 days.* Signing up is quick and easy. Just select your payment method and verify your account information.</p>
        <div class="section-title">Express Pay Payment Options</div>
        <div class="section-subtitle">Please select one of the payment methods below.</div>
        <ul class="payment-options">
            <li class="item">
                <div>
                    <div class="radio">@Html.RadioButtonFor(m => m.PaymentMethod, "Credit Card", new { id = "rdoCreditCard", @class = "payment-option" })</div>
                    <div class="radio desc">
                        <label for="rdoCreditCard" class="title">
                            CREDIT CARD<i class="question"></i>
                            <div class="question-text" style="left:122px; width:240px;">
                                <i class="carat"></i>
                                <p>Once your invoices have been approved for<br />payment, you will receive an e-mail from<br />Extra Space Storage with the last four digits<br />of the account number that should be used<br />for the payment.</p>
                                <p>Upon receipt of this email, you will need to<br />complete the following steps:</p>
                                <ol>
                                    <li>Retreive the remaining 12 digits of the<br />account number from a secure website.</li>
                                    <li>Enter the transaction into your<br />point-of-sale device (credit card processor)<br />using the full 16-digit<br />Visa single-use account number.</li>
                                    <li>Process the payment for the full amount of the invoice.</li>
                                </ol>
                            </div>
                        </label>
                        <div class="title subtitle">20 DAYS</div>
                        <div class="description">A cardless credit card payment program that expedites your payment (through US Bank - Payment Plus). You must have the capability to accept credit cards in order to select this option. (Payment terms of net 20 days.)</div>
                    </div>
                </div>
                <div class="spacer"></div>
                <div id="rdoCreditCard-desc" class="subdescription">
                    <span>You've selected <strong>Credit Card</strong> as your payment method...</span>
                    <p style="margin-bottom:0;">Thank you for choosing the credit card payment, THE FASTEST WAY TO BE PAID. You will receive your payment within 20 days. Information will be sent to the email address you provide below.</p>
                </div>
            </li>
            <li class="item">
                <div>
                    <div class="radio">@Html.RadioButtonFor(m => m.PaymentMethod, "ACH", new { id = "rdoDirectDeposit", @class = "payment-option" })</div>
                    <div class="radio desc">
                        <label for="rdoDirectDeposit" class="title">DIRECT DEPOSIT/ACH</label>
                        <div class="title subtitle">30 DAYS</div>
                        <div class="description">An Automated Clearing House/ACH or direct deposit payment method. (Payment terms of net 30 days.)</div>
                    </div>
                </div>
                <div class="spacer"></div>
                <div id="rdoDirectDeposit-desc" class="subdescription">
                    <span>You've selected <strong>Direct Deposit/ACH</strong> as your payment method...</span>
                    <p>Thank you for choosing to be paid by Direct Deposit/ACH. Please enter the information below and you will receive your payment within 30 days. </p>
                    <label for="txtBankName">Bank Name</label>
                    @Html.TextBoxFor(m => m.BankName, new { id = "txtBankName" })
                    @Html.ValidationMessageFor(m => m.BankName)
                    <label for="txtRoutingNumber">
                        Routing Number <i class="question"></i>
                        <div class="question-text" style="left:118px; padding-top:14px;"><i class="carat"></i><img src="~/Content/Images/routing-number.png" /></div>
                    </label>
                    @Html.TextBoxFor(m => m.RoutingNumber, new { id = "txtRoutingNumber", maxlength = "9" })
                    @Html.ValidationMessageFor(m => m.RoutingNumber)
                    <label for="txtAccountNumber">
                        Account Number <i class="question"></i>
                        <div class="question-text" style="left:121px; padding-top:14px;"><i class="carat"></i><img src="~/Content/Images/account-number.png" /></div>
                    </label>
                    @Html.TextBoxFor(m => m.AccountNumber, new { id = "txtAccountNumber", maxlength = "15" })
                    @Html.ValidationMessageFor(m => m.AccountNumber)
                </div>
            </li>
            <li class="item last">
                <div>
                    <div class="radio">@Html.RadioButtonFor(m => m.PaymentMethod, "Check", new { id = "rdoCheck", @class = "payment-option" })</div>
                    <div class="radio desc">
                        <label for="rdoCheck" class="title">CHECK</label>
                        <div class="title subtitle">45 DAYS</div>
                        <div class="description">A check will be issued and sent via regular mail. This payment option is the default if credit card or ACH are not chosen. (Payment terms of net 45 days.)</div>
                    </div>
                </div>
                <div class="spacer"></div>
                <div id="rdoCheck-desc" class="subdescription">
                    <span>You've selected <strong>Check</strong> as your payment method...</span>
                    <p style="margin-bottom:0;">Thank you for choosing to be paid by check. Checks take 45 days to process. Checks will be sent to the address below.</p>
                </div>
            </li>
        </ul>
        <div class="spacer"></div>
        @Html.ValidationMessageFor(m => m.PaymentMethod)
        <div class="section-title" style="margin-top:23px;">Account Information</div>
        <div class="section-subtitle line">Please verify your account information.</div>
        <p>Check the information below for accuracy and complete any blank items.</p>
        <div class="form-section">
            <div>
                <label for="txtCompanyName">Vendor/Company Name</label>
                @Html.TextBoxFor(m => m.CompanyName, new { id = "txtCompanyName" })
                @Html.ValidationMessageFor(m => m.CompanyName)
            </div>
            <div>
                <label for="txtPrimaryContactEmail">Primary Contact Email</label>
                @Html.TextBoxFor(m => m.PrimaryContactEmail, new { id = "txtPrimaryContactEmail" })
                @Html.ValidationMessageFor(m => m.PrimaryContactEmail)
            </div>
            <div>
                <label for="ddlTaxRegistration">Tax Registration</label>
                @Html.DropDownListFor(m => m.TaxRegistration, Model.TaxRegistrationSelector, "", new { id = "ddlTaxRegistration", style = "width:395px;" })
                @Html.ValidationMessageFor(m => m.TaxRegistration)
            </div>
            <div>
                <label for="txtStreetAddress">Street Address</label>
                @Html.TextBoxFor(m => m.StreetAddress, new { id = "txtStreetAddress" })
                @Html.ValidationMessageFor(m => m.StreetAddress)
            </div>
        </div>
        <div class="form-section">
            <div>
                <label for="txtPrimaryContact">Primary Contact</label>
                @Html.TextBoxFor(m => m.PrimaryContact, new { id = "txtPrimaryContact" })
                @Html.ValidationMessageFor(m => m.PrimaryContact)
            </div>
            <div>
                <label for="txtPrimaryContactPhone">Primary Contact Phone</label>
                @Html.TextBoxFor(m => m.PrimaryContactPhone, new { id = "txtPrimaryContactPhone" })
                @Html.ValidationMessageFor(m => m.PrimaryContactPhone)
            </div>
            <div>
                <label for="txtTaxID">Tax ID</label>
                @Html.TextBoxFor(m => m.TaxID, new { id = "txtTaxID" })
                @Html.ValidationMessageFor(m => m.TaxID)
            </div>
            <div class="csz">
                <div>
                    <label for="txtCity">City</label>
                    @Html.TextBoxFor(m => m.City, new { id = "txtCity", style = "width:177px;" })
                    @Html.ValidationMessageFor(m => m.City)
                </div>
                <div>
                    <label for="ddlState">State</label>
                    @Html.DropDownListFor(m => m.State, Model.StateSelector, "", new { id = "ddlState", style = "width:83px;" })
                    @Html.ValidationMessageFor(m => m.State)
                </div>
                <div>
                    <label for="txtZip">Zip Code</label>
                    @Html.TextBoxFor(m => m.ZipCode, new { id = "txtZip", style = "width:59px;" })
                    @Html.ValidationMessageFor(m => m.ZipCode)
                </div>
                <div class="spacer"></div>
            </div>
        </div>
        <div class="spacer"></div>
        <div class="form-footer">
            <button class="btn-action" style="float:right; margin-left:20px;" type="submit">SAVE</button>
            <div class="agree">
                <div class="check">
                    @Html.CheckBoxFor(m => m.Agree, new { id = "chkAgree" })
                </div>
                <div>
                    I have read and agree to the <span class="terms">site terms</span>. I understand that the Extra Space Storage Express Pay payment method is dependent on accurate information and by clicking “save” I am confirming the information on the page is accurate.
                    @Html.ValidationMessageFor(m => m.Agree, null, new { style = "margin-top:0;" })
                </div>
            </div>
        </div>
        <div style="font-size:11px; padding:30px 0 20px;">
            <div style="float:right;">If you have questions or need assistance, please email <a href="mailto:expresspay@extraspace.com">expresspay@extraspace.com</a> or call <strong>855-229-8577</strong>.</div>
            <div>*Number of days after receipt of invoice.</div>
        </div>
    }
</div>

@section FooterScripts {
    <script type="text/javascript">
        $(function () {
            // Validate
            $('#frmSignup').submit(function (e) {
                var valid = true;

                if ($('#chkAgree').prop('checked') !== true) {
                    // Terms not checked
                    valid = false;
                    $('span[data-valmsg-for="Agree"]').text('Required').removeClass('field-validation-valid').addClass('field-validation-error');
                } else if ($('input[name="PaymentMethod"]:checked').val() === 'ACH') {
                    // Require ACH fields
                    if ($('#txtBankName').val() === '') {
                        valid = false;
                        $('#txtBankName').removeClass('valid').addClass('input-validation-error');
                        $('span[data-valmsg-for="BankName"]').text('Required').removeClass('field-validation-valid').addClass('field-validation-error');
                    }
                    if ($('#txtRoutingNumber').val() === '') {
                        valid = false;
                        $('#txtRoutingNumber').removeClass('valid').addClass('input-validation-error');
                        $('span[data-valmsg-for="RoutingNumber"]').text('Required').removeClass('field-validation-valid').addClass('field-validation-error');
                    }
                    else {
                        // Check Prime
                        var s = $('#txtRoutingNumber').val();
                        var i, n, t;
                        t = "";

                        for (i = 0; i < s.length; i++) {
                            c = parseInt(s.charAt(i), 10);
                            if (c >= 0 && c <= 9)
                                t = t + c;
                        }

                        n = 0;
                        for (i = 0; i < t.length; i += 3) {
                            n += parseInt(t.charAt(i), 10) * 3 + parseInt(t.charAt(i + 1), 10) * 7 + parseInt(t.charAt(i + 2), 10);
                        }

                        if (n != 0 && n % 10 == 0 && t.length == 9) {
                            valid = true;
                        } else {
                            valid = false;
                            $('#txtRoutingNumber').removeClass('valid').addClass('input-validation-error');
                            $('span[data-valmsg-for="RoutingNumber"]').text('Invalid Routing Number').removeClass('field-validation-valid').addClass('field-validation-error');
                        }
                    }
                    if ($('#txtAccountNumber').val() === '') {
                        valid = false;
                        $('#txtAccountNumber').removeClass('valid').addClass('input-validation-error');
                        $('span[data-valmsg-for="AccountNumber"]').text('Required').removeClass('field-validation-valid').addClass('field-validation-error');
                    }
                }

                if (!valid) {
                    e.preventDefault();
                }
            });

            // Remove terms error
            $('#chkAgree').change(function (e) {
                if ($(this).prop('checked') === true) {
                    $('span[data-valmsg-for="Agree"]').text('').removeClass('field-validation-error').addClass('field-validation-valid');
                } else {
                    $('span[data-valmsg-for="Agree"]').text('Required').removeClass('field-validation-valid').addClass('field-validation-error');
                }
            });

            // Toggle payment method description on reload
            if (typeof $('input[name="PaymentMethod"]:checked').val() !== 'undefined') {
                $('.subdescription').hide();

                var paymentMethodId = $('input[name="PaymentMethod"]:checked').attr('id');
                $('#' + paymentMethodId + '-desc').show();
            }

            // Toggle payment method description
            $('input[name="PaymentMethod"]').change(function (e) {
                $('.subdescription').hide();
                
                var paymentMethodId = $('input[name="PaymentMethod"]:checked').attr('id');
                $('#' + paymentMethodId + '-desc').show();
            });

            // Site terms
            $('.terms').click(function (e) {
                popBox(428, 340, '15px', '<div style="font-size:14px; font-weight:bold; padding-bottom:8px; margin-bottom:8px; border-bottom:1px solid #e0e1e2;">SITE TERMS</div><p>Your use of this website is governed by the following terms and conditions. By clicking "Submit," you accept such terms and conditions in full. You represent and warrant that the information provided by you to Extra Space Storage on this website is accurate.</p><p>This website is provided "as is" without any representations or warranties, express or implied. By using this website, you agree that none of the parties involved in creating, producing, or delivering this site is liable for any direct, incidental, consequential, indirect, or punitive damages, or any other losses, costs, or expenses of any kind (including legal fees) which may arise through your use of the website. Extra Space Storage reserves the right to amend the terms and conditions governing the use of this website at anytime. If you have questions or need assistance, please call 855-229-8577.</p><p>We appreciate the service you provide Extra Space Storage.</p>');
            });
        });
    </script>
}