﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Extra Space Storage - Express Pay</title>
    <link rel="shortcut icon" href="/Content/Images/favicon.ico" />
    <link rel="apple-touch-icon" href="/Content/Images/apple-touch-icon.png" />
    @Styles.Render("~/Content/css")
    @RenderSection("HeaderStyles", required: false)
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    @RenderSection("HeaderScripts", required: false)
</head>
<body>
    <div id="wrapper">
        <div id="header">
            <div class="header_wrapper">
                <div class="header_content" style="position:relative;">
                    <div class="trust_logos">
                        @*-- Begin DigiCert/ClickID site seal HTML and JavaScript --*@
                        <div id="DigiCertClickID_BTvvIUv-" class="digicert" data-language="en_US"></div>
                        <script type="text/javascript">
                            var __dcid = __dcid || []; __dcid.push(["DigiCertClickID_BTvvIUv-", "13", "m", "black", "BTvvIUv-"]); (function () { var cid = document.createElement("script"); cid.async = true; cid.src = "//seal.digicert.com/seals/cascade/seal.min.js"; var s = document.getElementsByTagName("script"); var ls = s[(s.length - 1)]; ls.parentNode.insertBefore(cid, ls.nextSibling); }());
                        </script>
                        @*-- End DigiCert/ClickID site seal HTML and JavaScript --*@
                        <div class="bbb">
                            <a target="_blank" href="http://www.bbb.org/utah/business-reviews/storage-units-household-and-commercial/extra-space-management-inc-dba-extra-space-storage-in-cottonwood-heights-ut-4001764#bbblogo"><img title="Click to verify BBB accreditation and to see a BBB report." src="~/Content/Images/bbbsealh1US-gr2.png" alt="Click to verify BBB accreditation and to see a BBB report." /></a>
                        </div>
                        @*--START SCANALERT CODE--*@
                        <div class="mcafee">
                            <a target="_blank" href="https://www.mcafeesecure.com/RatingVerify?ref=www.extraspace.com">
                                <img width="72" height="22" border="0" src="//images.scanalert.com/meter/www.extraspace.com/32.gif" alt="McAfee Secure sites help keep you safe from identity theft, credit card fraud, spyware, spam, viruses and online scams" />
                            </a>
                        </div>
                        @*--END SCANALERT CODE--*@
                    </div>
                    <span id="logo"><a href="/"><img src="~/Content/Images/logo_ess2.png" alt="Extra Space Storage Logo - Established 1977" class="logo" /></a></span>
                    <div id="main_nav"></div>
                </div>
            </div>
        </div>
        <div id="body">
            <div class="content-wrapper">
                <div class="content">
                    @RenderBody()
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        function popBox(width, height, padding, html) { // pass integers for width and height; css value including px for padding; height and padding can be left empty; height is only used for vertical centering
            // create new box and show
            $('body').prepend('<div id="popbox-bg"></div><div id="popbox"><img id="popbox-cl" src="/Content/Images/close-box.png" alt="close" />' + html + '</div>');
            var left = (width / 2) * -1;
            var top = (height != '') ? (height / 2) * -1 : -150;
            var pad = (padding != '') ? padding : '20px';
            $('#popbox').css({ 'width': width, 'margin': top + 'px 0 0 ' + left + 'px', 'padding': pad });
            $('#popbox-bg').css('filter', 'alpha(opacity=70)');
            $('#popbox-bg, #popbox').fadeIn('fast');
            // add events to close and destroy box
            $('#popbox-bg, #popbox-cl').click(function () {
                try { $('#popbox iframe').attr('src', ''); } catch (e) { }
                $('#popbox-bg, #popbox').fadeOut('fast', function () { $('#popbox-bg, #popbox').remove(); });
            });
        }

        $(function () {
            $('.question').hover(function() {
                $(this).next().toggle();
            });
        });
    </script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    @RenderSection("FooterScripts", required: false)
</body>
</html>
